<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="1" parallel="false">
    <test verbose="2" name="Test1">
        <parameter name="Environment" value=""/>
        <classes>
            <class name="com.selenide.demo.tests.GaleriaTest">
                <methods>
<!--                    <include name="cart"/>-->
                    <include name="store"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>